<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Basic Table</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Booking Name</th>
            <th>Time</th>
            <th>Date</th>
            <th>number of persons</th>
            <th>Email</th>
           <th>Contact Num</th>

            <th>Status</th>

        </tr>
        </thead>
        <tbody>
        {% for i in obj %}
        <tr>

            <td>{{i.name}}</td>
            <td>{{i.table_book_time}}</td>
            <td>{{i.table_book_date}}</td>
            <td>{{i.num_of_person}}</td>
            <td>{{i.email}}</td>
            <td>{{i.contact_num}}</td>
            <form method="post">
                {% csrf_token %}
                <td> <button type="submit" onclick="approved({{i.id}});" >Want to Aproved</button></td></form>
        </tr>
{% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function approved(id){
    console.log("inside approved");
    console.log(id);
$.ajax({
url:"{% url 'admintable' %}",
method:"POST",
data:{'id':id},
dataType:'json',
success:function(data){

console.log("success");

}});
    }
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>