<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<h1>
    Shoping Cart
</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-11 mx-auto">
<div class="row mt-5 gx-3">
    <div class="col-md-12 col-lg-8 col-11 mx-auto main_cart mb-lg-0 mb-5">
        <div class="card p-4">
<h2 class="py-4 font-weight-bold">Cart (2)</h2>
            <div class="row">
<div class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow product_img">
    <img src="" class="img-fluid" alt="card img">

</div>
                <div class="col-md-7 col-11 mx-auto px-4 mt-2">
<div class="row">
<div class="col-6 card-title">
    <h1 class="mb-4 product_name">Item</h1>

</div>
    <div class="col-6">
<button>Item</button>
    </div>
</div>
                </div>
            </div>
        </div>

    </div>

</div>
        </div>
    </div>

</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>